.intro .section01 {
  margin-top: 50px;
  position: relative;
  margin-bottom: 100px;
}

.intro .section01 .center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro .section01 .fulfillment .left {
  width: 43%;
}

.intro .section01 .left > p:first-child {
  font-size: 22px;
  color: #b8b8b8;
  margin-bottom: 24px;
}

.intro .section01 .left h2 {
  font-size: 43px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 46px;
}

.intro .section01 .left h2 span {
  display: block;
  color: var(--main-color);
}

.intro .section01 .left > div p {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 45px;
}

.intro .section01 .left p strong {
  font-weight: bold;
  color: #222;
}

.intro .section01 img {
  position: relative;
  z-index: 1;
}

.intro .section01 .img:before {
  position: absolute;
  content: '';
  width: calc(50% - 100px);
  height: 300px;
  display: block;
  background: var(--main-color);
  bottom: 15px;
  right: 0;
}

.intro .section02 {
  background-color: #eff3f7;
  padding-top: 110px;
  padding-bottom: 100px;
}

.intro .section02 .main-title h2 {
  color: #222;
}

.intro .section02 .sub01 {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro .section02 .sub01 .img + div p {
  color: #222;
  font-size: 19px;
  line-height: 1.7;
}

.intro .section02 .sub01 .img + div p:first-child {
  margin-bottom: 30px;
}

.intro .section02 .sub01 .img + div p strong {
  font-weight: bold;
}

.intro .section02 .sub01 .img + div p .color {
  color: var(--main-color);
}

.intro .section02 .sub02 {
  margin-top: 80px;
}

.intro .section02 .sub02 .main-title {
  margin-bottom: 50px;
}

.intro .section02 .sub02 ul {
  display: flex;
  gap: 40px;
}

.intro .section02 .sub02 .img {
  overflow: hidden;
  border-radius: 20px;
}

.intro .section02 .sub02 img {
  width: 100%;
  display: block;
  transition: all 0.3s ease;
}

.intro .section02 .sub02 .img:hover img {
  transform: scale(1.1);
}

.intro .section02 .sub02 ul p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 1.4;
  margin-top: 20px;
}

.intro .section03 .center {
  padding: 100px 0 100px 0;
}

.intro .section03 .center img {
  padding-bottom: 60px;
}

.intro .section03 .center p {
  text-align: center;
  font-size: 18px;
  color: #222;
  line-height: 1.4;
  word-break: keep-all;
}

.intro .section03 .center p:first-child {
  margin-bottom: 30px;
}

.intro .section03 .center p strong {
  font-weight: bold;
}

.intro .section04 {
  background: #eff2f7;
  padding: 105px 0 100px 0;
}

.intro .section04 h2 {
  color: #222;
  margin-bottom: 50px;
}

.intro .section04 h2 strong {
  margin-left: 5px;
}

.intro .section04 .talk > div {
  display: flex;
  gap: 20px;
}

.intro .section04 .talk > div > span {
  font-size: 20px;
  font-weight: bold;
  width: 50px;
}

.intro .section04 .talk > div div {
  width: 495px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 53px;
  box-sizing: border-box;
  align-items: flex-start;
}

.intro .section04 .talk > div:first-child {
  font-size: 30px;
}

.intro .section04 .talk > div:not(:first-child) {
  font-size: 22px;
}

.intro .section04 .talk > div:not(:first-child) div {
  background: var(--main-color);
  color: #fff;
}

.intro .section04 .talk > div img {
  margin-bottom: 20px;
}

.intro .section04 .left span + div {
  background: #fff;   
}

.intro .section04 .right {
  justify-content: flex-end;
}

.intro .section04 .talk > div:first-child span {
  margin-bottom: 10px;
}

.intro .section04 .talk > div:not(:first-child) span {
  margin-bottom: 5px;
}

.intro .section04 .talk > div strong {
  font-weight: bold;
}

.intro .section05 {
  padding: 120px 0 110px 0;
}

.intro .section05 h2 {
  color: #222;
  margin-bottom: 40px;
}

.intro .section05 ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 43px;
}

.intro .section05 ul .img + div {
  margin-top: 68px;
  border: 1px solid #e1e1e1;
  height: 192px;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.intro .section05 ul .img + div:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  background: var(--main-color);
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
}

.intro .section05 ul .img {
  /* overflow: hidden; */
  border-radius: 10px;
  position: relative;
}

.intro .section05 ul .img img {
  transition: all 0.3s ease;
}

.intro .section05 ul .img:hover img {
  transform: scale(1.1);
}

.intro .section05 ul .img:after {
  content: '';
  /* width: 2px; */
  height: 63px;
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px dashed var(--main-color);
}

.intro .section05 ul .img + div:after {
  content: '';
  width: 4px;
  height: 4px;
  position: absolute;
  background: #fff;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
}

.intro .section05 ul .img + div  h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.intro .section05 ul .img + div p {
  font-size: 18px;
  line-height: 1.4;
  word-break: keep-all;
}